apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: webapp-deploy
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 100%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: test-web-app
    spec:
      containers:
      - name: container-pod
        image: kroshwan/testwebapp
        imagePullPolicy: Always
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-svc
  namespace: {{NAMESPACE}}
spec:
  type: LoadBalancer
  sessionAffinity: ClientIP
  ports:
  - port: 8080
    targetPort: 80
  selector:
    app: test-web-app